.aboutMe img {
  float: left;
  width: 300px;
  margin-right: 1em;
}

.aboutMe p {
  padding-left: 1em; 
}

ul.card-list {
  font-style: italic;
}

.card-text {
  font-weight: 500;
}

.aboutMe, .projects, .hobbies {
  margin-bottom: 5em;
}

.jobExperience {
  margin-bottom: 1em;
}

.backgroundInfo h3 {
  margin-top: 1em;
  font-style: italic;
  color: #f1191d;
}

.hobbies img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-bottom: 1em;
}

.jumbotron {
  background-color: black;
  color:white;
  margin-bottom: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  padding-top: 5em;
  padding-bottom: 2em;
}

a:link {
  color: #ff2a2d;
}

a:hover {
  color: #a00003;
}

.projects .card {
  margin-bottom: 2em;
}

.projects .card  a{
  color: #f1191d;
  text-decoration: underline;
}

.projects .card a:hover {
  color: #a00003;
}

.education .card-title {
  color: #f1191d;
}

.jumboHeader {
  color: #f1191d;
  font-style: italic;
}

.hobbies {
  margin-top: 5em;
}

/* Hobbies List group */
.list-group-item.active {
  color: #fff;
  background-color: #f1191d;
  border-color: #f1191d;
}

