ul.card-list {
  font-style: italic;
}

.card-text {
  font-weight: 500;
}

.aboutMe, .projects, .hobbies {
  margin-bottom: 2em;
}

.jobExperience {
  margin-bottom: 1em;
}

.backgroundInfo h3 {
  margin-top: 1em;
  font-style: italic;
}

.hobbies img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-bottom: 1em;
}

.jumbotron {
  background-color: black;
  color:white;
  margin-bottom: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

a:link {
  color: #ff2a2d;
}

a:hover {
  color: #a00003;
}

.projects .card {
  margin-bottom: 2em;
}

.projects .card  a{
  color: #f1191d;
  text-decoration: underline;
}

.projects .card a:hover {
  color: #a00003;
}

/* Hobbies List group */
.list-group-item.active {
  color: #fff;
  background-color: #f1191d;
  border-color: #f1191d;
}

.education .card-title {
  color: #f1191d;
}