ul.card-list {
  font-style: italic;
}

.card-text {
  font-weight: 500;
}

.aboutMe, .projects, .hobbies {
  margin-bottom: 2em;
}

.jobExperience {
  margin-bottom: 1em;
}

.backgroundInfo h3 {
  margin-top: 1em;
  font-style: italic;
}

.hobbies img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-bottom: 1em;
}

.jumbotron {
  background-color: black;
  color:white;
  margin-bottom: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}