/* General Page Layout & Globals */ 
.aboutMe, .projects, .hobbies {
  margin-bottom: 5em;
}
.jobExperience {
  margin-bottom: 1em;
}
.hobbies {
  margin-top: 5em;
}
a:link {
  color: #ff2a2d;
}
a:hover {
  color: #a00003;
}
hr {
  border-top: 2px dashed #a00003;
}
.card-text {
  font-weight: 500;
}
.img-thumbnail {
  border: 2px solid #f1191d;
}
/* Top Navbar */
.navbar {
  margin-bottom: 1em;
}
/* About Me Section */
.aboutMe img {
  float: left;
  width: 300px;
  margin-right: 1em;
}
.aboutMe p {
  padding-left: 1em; 
}
/* Jumbotron Changes */
.jumbotron {
  background-color: black;
  color:white;
  margin-bottom: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  padding-top: 5em;
  padding-bottom: 2em;
}
.jumboHeader {
  color: #f1191d;
  font-style: italic;
}
/* Projects Section */
.projects .card {
  margin-bottom: 2em;
}
.projects .card  a{
  color: #f1191d;
  text-decoration: underline;
}
.projects .card h3  a{
  color: #ffffffff;
  text-decoration: underline;
}
.projects .card a:hover {
  color: #a00003;
}
ul.card-list {
  font-style: italic;
}
.btn-red {
  color: #ffffff;
  background-color: #f1191d;
  border-color: #a00003;
}
.projects .card .projectButton a {
  color: #ffffff;
  text-decoration: none;
}
.projects .card .projectButton a:hover {
  color: #000000;
}
/* Background Info section */
.backgroundInfo h3 {
  margin-top: 1em;
  font-style: italic;
  color: #f1191d;
}
.hobbies img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.education .card-title {
  color: #f1191d;
}
/* Webpage nav/jumbotron Footers */
.pageFooter .navbar {
  margin-bottom: 0em;
}
.copyrightFooter p{
  background-color: #000000;
  color: #a7a7a7;
  text-align: center;
}
.copyrightFooter .jumbotron {
  padding-top: 3em;
  border-top-right-radius: 0em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
/* Hobbies List group */
.list-group-item.active {
  color: #fff;
  background-color: #f1191d;
  border-color: #f1191d;
}
.tab-pane a {
  color: #ff2a2d;
}